@import './Variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body{
  margin: 0;
    background-color: $Light;
    font-family: 'Roboto', sans-serif;
  // padding-top: 5rem;
}

// .formContainer{
//   text-align : center;
//   margin-left: 0 auto;
//   padding: 20px;
//   width: fit-content;
// }





